@{
    var session = (HTM.Mgs.Common.UserLogin)Session[HTM.Mgs.Common.CommonConstants.USER_SESSION];
    var YeuCauNguoiDung = ViewBag.YeuCauNguoiDung;
    var YeuCauNguoiDungLenQuanTri = ViewBag.YeuCauNguoiDungLenQuanTri;
    var YeuCauDuyetLenPhongBan = ViewBag.YeuCauDuyetLenPhongBan;
    var SanPhamChoNhapKho = ViewBag.SanPhamChoNhapKho;
    var SanPhamHetHang = ViewBag.SanPhamHetHang;
    var YeuCauDaDuyet = ViewBag.YeuCauDaDuyet;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mega Able bootstrap admin template by codedthemes </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes" />
    @Styles.Render("~/Layout/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />


</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                </div>
                            </div>
                        </div>
                        <a href="index.html">
                            <img class="img-fluid" src="/Content/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-red"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="@session.Image" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="/Content/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="/Content/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="@session.Image" class="" alt="User-Profile-Image">
                                    <span>@session.Name</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="#!">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="user-profile.html">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="email-inbox.html">
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="auth-lock-screen.html">
                                            <i class="ti-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/CanBo/Logout">
                                            <i class="ti-layout-sidebar-left"></i> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="@session.Image" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span id="more-details">@session.Name<i class="fa fa-caret-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="/NguoiDung/ThongTinChiTiet/@session.UserID"><i class="ti-user"></i>Xem thông tin</a>
                                            <a href="/NguoiDung/Logout"><i class="ti-layout-sidebar-left"></i>Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Danh mục cán bộ -->
                            @if (session.NhomQuyenSuDungID == "ADMIN")
                            {
                                <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Danh mục người quản lý</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="active">
                                        <a href="/TrangChu/Index" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">Trang chủ</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <!-- Người dùng -->
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-user"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Người dùng</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a href="/NguoiDung/Index" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"></span>
                                                    <span class="pcoded-mtext"><i class="ti-list"></i>&nbsp; Danh sách</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/NguoiDung/DanhSachNguoiDungDaXoa" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"></span>
                                                    <span class="pcoded-mtext"><i class="ti-trash"></i>&nbsp; Đã xóa</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <!-- Quản lý sản phẩm trong kho -->
                                    <li class="pcoded-hasmenu">
                                        <!-- Sản phẩm -->
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Sản phẩm</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a href="/SanPham/Index" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-list"></i>&nbsp; &nbsp; Danh sách &nbsp;</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamDaXoa" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-trash"></i> &nbsp;Sản phẩm đã xóa</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/PhongBan/DanhSachCacYeuCauDaThongQua" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-shopping-cart"></i>	&nbsp;Yêu cầu duyệt từ phòng ban&nbsp;  @if (YeuCauNguoiDungLenQuanTri != null)
                                                    {<span class="badge badge-info right">@YeuCauNguoiDungLenQuanTri </span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamChoNhapKho" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-bell"></i> &nbsp;Sản phẩm chờ nhập kho &nbsp;  @if (SanPhamChoNhapKho != null)
                                                    {<span class="badge badge-info right">@SanPhamChoNhapKho</span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/NhanVien/DanhSachDaDuocDuyet" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"></span>
                                                    <span class="pcoded-mtext"><i class="ti-check"></i>&nbsp; Đã phê duyệt cho người dùng</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            }
                            else if (session.NhomQuyenSuDungID == "MOD" || session.NhomQuyenSuDungID == "ADMIN")
                            {
                                <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Danh mục nhân viên kiểm kho</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <!-- Quản lý sản phẩm trong kho -->
                                    <li class="pcoded-hasmenu">
                                        <!-- Sản phẩm -->
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Sản phẩm</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamTrongKho" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-list"></i>&nbsp; &nbsp; Sản phẩm trong kho &nbsp;</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamHetHang" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-trash"></i> &nbsp;Đang tạm hết</span>  @if (SanPhamHetHang != null)
                                                    {<span class="badge badge-info right">@SanPhamHetHang</span>}
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/SanPham/DSChoDuyetVaoKho" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-shopping-cart"></i>	&nbsp;Chờ duyệt&nbsp; @if (SanPhamChoNhapKho != null)
                                                    {<span class="badge badge-info right">@SanPhamChoNhapKho </span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                            else if (session.NhomQuyenSuDungID == "EMPLOYEE" || session.NhomQuyenSuDungID == "ADMIN")
                            {
                                <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Danh mục cho phòng ban</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <!-- Quản lý yêu cầu nhân viên -->
                                    <li class="pcoded-hasmenu">
                                        <!-- Sản phẩm -->
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Danh mục yêu cầu</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamTrongKho" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-shopping-cart"></i>&nbsp; &nbsp; Sản phẩm trong kho &nbsp;</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/SanPham/DanhSachSanPhamHetHang" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-bolt-alt"></i> &nbsp;Đang tạm hết</span>&nbsp @if (SanPhamHetHang != null)
                                                    {<span class="badge badge-info right">@SanPhamHetHang</span>}
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/PhongBan" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-back-right"></i>	&nbsp;Yêu cầu người dùng&nbsp;  @if (YeuCauDuyetLenPhongBan != null)
                                                    {<span class="badge badge-info right">@YeuCauDuyetLenPhongBan </span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/NhanVien/DanhSachDaDuocDuyet" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-check"></i>	&nbsp;Danh sách đã duyệt&nbsp;  @if (YeuCauDaDuyet != null)
                                                    {<span class="badge badge-info right">@YeuCauDaDuyet </span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>


                                        </ul>
                                    </li>
                                </ul>
                            }
                            else if (session.NhomQuyenSuDungID == "MEMBER" || session.NhomQuyenSuDungID == "ADMIN")
                            {
                                <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Danh mục cho người dùng</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <!-- Quản lý yêu cầu nhân viên -->
                                    <li class="pcoded-hasmenu">
                                        <!-- Sản phẩm -->
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Sản phẩm</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">

                                            <li class=" ">
                                                <a href="/NhanVien" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-bag"></i>&nbsp; &nbsp; Danh sách sản phẩm &nbsp;</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/NhanVien/DanhSachDaDuocDuyet" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-check-box"></i>&nbsp; &nbsp; Sản phẩm đã duyệt &nbsp;  @if (YeuCauDaDuyet != null)
                                                    {<span class="badge badge-info right">@YeuCauDaDuyet </span>}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="/NhanVien/DanhSachDaYeuCau" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"><i class="ti-reload"></i>&nbsp; &nbsp; Sản phẩm chờ duyệt &nbsp; @if (YeuCauDuyetLenPhongBan != null)
                                                    {<span class="badge badge-info right">@YeuCauDuyetLenPhongBan</span>}  </span>
                                                    <span class="pcoded-mcaret"></span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            }

                            <!-- Danh mục người quản lý kho -->
                            <!-- Danh mục phòng ban-->
                            <!--Danh mục người dùng-->



                        </div>
                    </nav>

                    <div class="pcoded-content">
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">@RenderSection("header", required: false)</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide" style="margin-top: 6rem">
                                <span>
                                    @TempData["AlertMessage"]
                                </span>
                            </div>}
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Layout/Js")
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(3000).slideUp(1000);
        })
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
